<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <title>Auth</title>
    <style>
        .outer-box{
            padding-top: 20px;
        }
        .contact-clean{
            padding: 20px;
            width: 25%;
            background-color: #ffffff;
            border-radius: 40px;
            color: #505e6c;
            box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>



<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Belarus It News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/programming">Programming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/startUp">StartUps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/science">Science</a>
            </li>
        </ul>
        <!--th:with="searchString=${T(java.lang.String).create()}" th:object="${searchString}"-->
        <!--<form method="post" th:action="@{/search}" >-->
        <input class="form-control mr-sm-2" type="search" style="background-color: #aeaeae" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        <!--</form>-->
    </div>
</nav>
<!--NAVBAR-->


<div class="outer-box">
    <div class="container">
        <div class="row justify-content-center">
            <div class="contact-clean" style="">
                <form  th:action="@{/auth}" th:object="${user}" method="post">
                    <h2 align="center">Welcome to ItNews</h2>
                    <div class="form-group">
                        <input class="form-control" placeholder="username" type="text" th:field="*{username}" id="username"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="password" th:field="*{password}"  id="password"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>