<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <meta charset="UTF-8"/>
    <title>Search</title>
</head>
<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Belarus It News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/programming">Programming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/startUp">StartUps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/science">Science</a>
            </li>
        </ul>
        <form class="form-inline" method="post" th:action="@{/articles/search}" th:object="${searchArticle}">
            <input class="form-control mr-sm-2" th:field="*{title}" type="search" style="background-color: #aeaeae" placeholder="Search"
                   aria-label="Search"/>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--NAVBAR-->





<input class="form-control" type="text" placeholder="Search" th:object="${searchString}" id="text"/>


</body>
</html>